---
---

@import "{{ site.theme }}";
body {
	max-width:80ch;
	margin: auto;
	overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    text-align:justify;
}